[Unit]
Description=BOOTSTORAGE demo service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDir=/root/bootstorage/target
ExecStart=java -jar bootstorage-0.0.1-SNAPSHOT.jar

[Install]
WantedBy=multi-user.target