[Unit]
Description=EXPRESSED demo service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/root/expressed
ExecStart=npm start

[Install]
WantedBy=multi-user.target